<h1>Vinneren er&hellip;</h1>
<div id="picture">
	<img id="picture-img" src="{{picture (objectId winner)}}"></img>
</div>
<h2 id="name">{{get winner "name"}}</h2>
<form action="/{{get winner 'team'}}/open/{{day}}" method="post">
	<input name="day" type="hidden" value="{{day}}">
	<input name="id" type="hidden" value="{{objectId winner}}">
	<div data-role="fieldContain">
		<input type="submit" value="Erklær vinner">
	</div>
</form>