<h1>Brukere</h1>
{{#users}}
	<div class="userline">
		<div class="userpic">
	    	<img src="{{picture (objectId this)}}"></img>
	    </div>
		<form action="/{{get this "team"}}/users", method="post" enctype="multipart/form-data">
			<input type="text" name="name" value="{{get this 'name'}}" placeholder="Navn...">
			<label for="picture-{{objectId this}}" class="picture">
			    Velg bilde
			</label>
			<input type="file" name="picture" id="picture-{{objectId this}}">
			<input type="hidden" name="id" value="{{objectId this}}">
		    <input type="submit" value="Lagre">
		</form>
	</div>
{{/users}}
<form action="/{{teamname}}/users", method="post" enctype="multipart/form-data">
	<h4>Legg til bruker</h4>
	<input type="text" name="name" placeholder="Navn...">
	<label for="picture" class="picture">
	    Velg bilde
	</label>
	<input type="file" name="picture" id="picture">
    <input type="submit" value="Legg til">
</form>
<a href="/{{teamname}}">Tilbake</a>