extends layout

block content
    h1= title
    ul#calendar(class="clearfix")
        - var today = new Date().getDate();
        - for (var i = 1; i < 25; i++)
            if winners[i]
                li(id=i, class="opened")
                    .calpic
                        img(src="/images/people/#{users[winners[i]].image}")
                    .picoverlay= i
            else if today >= i
                li(id=i, class="today")
                    a(href="/winner/#{i}")= i
            else
                li(id=i)= i
            
                